<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Danh sách đơn hàng</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="p-5">
<h2 class="text-center">📦 Danh sách đơn hàng</h2>

<table class="table table-bordered w-75 mx-auto">
    <thead class="table-primary">
    <tr>
        <th>ID</th>
        <th>Tên khách hàng</th>
        <th>SĐT khách hàng</th>
        <th>Email khách hàng</th>
        <th>Địa chỉ khách hàng</th>
        <th>Ngày đặt</th>
        <th>Tổng tiền</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.customerName}"></td>
        <td th:text="${order.customerPhone}"></td>
        <td th:text="${order.customerEmail}"></td>
        <td th:text="${order.customerAddress}"></td>
        <td th:text="${#temporals.format(order.orderDate, 'dd/MM/yyyy HH:mm')}"></td>
        <td th:text="${order.totalPrice} + ' €'"></td>
        <td>
            <a th:href="@{'/orders/delete/' + ${order.id}}" class="btn btn-danger btn-sm"
               onclick="return confirm('Bạn có chắc muốn xóa đơn hàng này không?');">
                Xóa
            </a>
        </td>
        <td>     <a th:href="@{/orders/detail/{id}(id=${order.id})}" class="btn btn-info btn-sm">Xem chi tiết</a>
        </td>
    </tr>
    </tbody>
</table>

<div class="text-center mt-3">
    <a href="/bikes" class="btn btn-secondary">← Quay lại cửa hàng</a>
</div>
</body>
</html>
